// styles for navbar container
.navbar-container {
  background-image: linear-gradient(to right, #040d57, #001666, #0a259d);
  height: 65px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  margin-left: -8px;

  // navbar-logo styles
  .navbar-logo {
    justify-self: start;
    font-size: 2rem;
    margin-left: 15px;
    color: whitesmoke;
    margin-left: 20px;
    cursor: pointer;
  }

  .navbar-logo > a {
    color: inherit;
    text-decoration: none;
    font-size: inherit;
  }

  // menu-icon to be hidden on bigger screens
  .menu-icon {
    display: none;
    font-size: 2.8rem;
    color: floralwhite;
    cursor: pointer;
  }

  // navbar menu items
  .navbar-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    width: 70vw;
    text-align: center;
    justify-content: end;
    /* margin-right: 1.5rem; */
  }

  // cart icon styles
  .cart {
    background-color: #1a1aea;
    border-radius: 10px;
    span {
      margin-left: 5px;
    }
  }

  // link or button on navbar
  .navbar-links {
    color: whitesmoke;
    padding: 0.5rem 1rem;
    text-decoration: none;
  }

  .navbar-links:hover {
    background-color: blue;
    border-radius: 10px;
    transition: 0.3s background-color ease-in-out;
    box-shadow: 0px 1px 3px 1px #627bff;
    cursor: pointer;
  }

  .user-name:hover {
    cursor: default;
    background: transparent;
  }
}

// changing navbar to collapsed navbar
@media screen and (max-width: 960px) {
  // position of main container
  .navbar-container {
    position: fixed;
    top: 0;

    ul {
      padding-left: 0;
    }

    // menu of navbar
    .navbar-menu {
      display: flex;
      flex-direction: column;
      grid-gap: 0;
      width: 100%;
      position: absolute;
      top: 45px;
      left: -118%;
      opacity: 1;
      /* transition: all 0.5s ease-in; */
    }

    // active component
    .active {
      background-image: linear-gradient(to right, #040d57, #001666, #0a259d);
      left: 0;
      opacity: 1;
      transition: all 0.5s ease-in;
      z-index: 1;
    }

    // navbar items
    .navbar-links {
      text-align: center;
      padding: 1rem;
      width: 96%;
      display: table;
    }

    .navbar-links:hover {
      background: #1423a1b5;
      border-radius: 0;
    }
    .user-name {
      display: none;
    }

    // navbar logo
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(20%, 36%);
    }

    // menu icon
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 40%);
      font-size: 2rem;
      cursor: pointer;
    }
  }
}
